<div class="background">
    <div class="startpage-welcome-box">
        <p class="startpage-welcome-text text-center">Välkommen till Svenska VM-tipset!</p>
        <div style="margin-top: 2%">
            <p class="startpage-welcome-text-sub text-center">
                Vad är det här kanske du undrar?
            </p>
            <p class="startpage-welcome-text-sub text-center">
                Jo, det ska jag berätta för dig. Det är inget mer än ett tips, ett VM-tips för dig och dina polare eller kollegor att ta del av och tävla i.
            </p>
            <p class="startpage-welcome-text-sub text-center">
                Det kostar ingenting heller för den delen. Bra va?
            </p>
            <p class="startpage-welcome-text-disclaimer text-center" style="margin-top: 4%">
                <a class="btn btn-lg btn-primary" style="margin-right: 1%;" [routerLink]="['/login']">Logga in</a>
                <a class="btn btn-lg btn-primary" style="margin-left: 1%;" [routerLink]="['/register']">Registrera dig</a>
            </p>
        </div>
    </div>
</div>